.navbar {
  display: flex;
  justify-content: center;
  background-color: aqua;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding: 20px 0;

    .logo {
      .text {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 20px;
      }

      .dot {
        color: green;
        font-weight: 600;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 14px;
      font-weight: 500;
      button {
        padding: 5px 10px;
      }
    }
  }
}
